@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #FCF9F8;
  font-family: 'Hanken Grotesk', sans-serif;
  color: #1C1B1B;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
